html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
  color: #333333;
  overflow: hidden;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: 1.5em;
//   font-weight: 300;
// }
strong,
b {
  font-weight: 400;
}
#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}
#logo {
  margin-bottom: 25px;
  img {
    width: 220px;
  }
  .version {
    font-size: 1em;
  }
}
#sidebar {
  display: block;
  box-sizing: border-box;
  position: fixed;
  background-color: #e9e9e9;
  padding: 25px;
  width: 270px;
  left: -270px;
  top: 0;
  bottom: 0;
  z-index: 2000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  a {
    white-space: nowrap;
  }
  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: #3c3c3c;
  }
  a:hover,
  a:active {
    color: #de4f4f;
  }
  ul {
    ul {
      margin-left: 25px;
    }
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      cursor: pointer;
    }
    .selected > a {
      font-weight: 400;
      color: #de4f4f;
    }
  }
}
#main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
#content {
  padding: 0 1em 1em;
  max-width: 920px;
  p {
    text-align: justify;
  }
}
.open {
  #sidebar {
    transform: translateX(270px);
  }
  #overlay {
    display: block;
  }
  #main {
    transform: translateX(270px);
  }
}
@media (min-width: 768px) {
  #overlay {
    display: none !important;
  }
  #sidebar {
    left: 0;
    transform: translateX(0px) !important;
  }
  #main {
    left: 270px;
    transform: translateX(0px) !important;
  }
  #content {
    padding: 2em;
  }
}