<ul>
  <li><a href="#what-is-astronomy">What is Astronomy?</a></li>
  <li><a href="#features">Features</a></li>
  <li><a href="#getting-started">Getting started</a></li>
  <li><a href="#changelog">Changelog</a></li>
  <li><a href="#examples">Examples</a></li>
  <li><a href="#upgradinig-to-20">Upgrading to 2.0</a></li>
  <li><a href="#key-concepts">Key concepts</a></li>
  <li>
    <ul>
      <li><a href="#fields-definition">Fields definition</a></li>
      <li>
        <ul>
          <li><a href="#simple-fields-list">Simple fields list</a></li>
          <li><a href="#default-values">Default values</a></li>
          <li><a href="#nested-fields">Nested fields</a></li>
          <li><a href="#transient-fields">Transient fields</a></li>
          <li><a href="#immutable-fields">Immutable fields</a></li>
          <li><a href="#optional-fields">Optional fields</a></li>
        </ul>
      </li>
      <li><a href="#setting-and-getting-values">Setting and getting values</a></li>
      <li><a href="#storing-documents">Storing documents</a></li>
      <li><a href="#fetching-documents">Fetching documents</a></li>
      <li><a href="#methods">Methods</a></li>
      <li><a href="#events">Events</a></li>
      <li>
        <ul>
          <li><a href="#events-propagation">Events propagation</a></li>
          <li><a href="#preventing-default">Preventing default</a></li>
          <li><a href="#storage-events">Storage events</a></li>
          <li><a href="#modification-events">Modification events</a></li>
          <li><a href="#initialization-events">Initialization events</a></li>
          <li><a href="#other-events">Other events</a></li>
        </ul>
      </li>
      <li><a href="#indexes">Indexes</a></li>
      <li><a href="#inheritance">Inheritance</a></li>
      <li><a href="#extending-class">Extending class</a></li>
      <li><a href="#validation">Validation</a></li>
      <li>
        <ul>
          <li><a href="#adding-validators">Adding validators</a></li>
          <li><a href="#errors">Errors</a></li>
          <li><a href="#validators">Validators</a></li>
          <li><a href="#creating-validators">Creating validators</a></li>
          <li><a href="#validation-order">Validation order</a></li>
          <li><a href="#simple-validators">Simple validators</a></li>
        </ul>
      </li>
      <li><a href="#relations">Relations</a></li>
      <li><a href="#troubleshooting">Troubleshooting</a></li>
    </ul>
  </li>
  <li><a href="#behaviors">Behaviors</a></li>
  <li>
    <ul>
      <li><a href="#timestamp">Timestamp</a></li>
      <li><a href="#slug">Slug</a></li>
      <li><a href="#softremove">Softremove</a></li>
      <li><a href="#sort">Sort</a></li>
    </ul>
  </li>
  <li><a href="#advanced-usage">Advanced usage</a></li>
  <li>
    <ul>
      <li><a href="#custom-types">Custom types</a></li>
      <li><a href="#writing-behaviors">Writing behaviors</a></li>
      <li><a href="#writing-modules">Writing modules</a></li>
    </ul>
  </li>
</ul>