<ul>
  <li><a href="#what-is-astronomy">What is Astronomy?</a></li>
  <li><a href="#features">Features</a></li>
  <li><a href="#getting-started">Getting started</a></li>
  <li><a href="#changelog">Changelog</a></li>
  <li><a href="#examples">Examples</a></li>
  <li><a href="#upgrading-to-20">Upgrading to 2.0</a></li>
  <li><a href="#key-concepts">Key concepts</a></li>
  <li>
    <ul>
      <li><a href="#fields-definition">Fields definition</a></li>
      <li>
        <ul>
          <li><a href="#simple-fields-list">Simple fields list</a></li>
          <li><a href="#enum-type">ENUM type</a></li>
          <li><a href="#union-type">Union type</a></li>
          <li><a href="#default-values">Default values</a></li>
          <li><a href="#nested-fields">Nested fields</a></li>
          <li><a href="#transient-fields">Transient fields</a></li>
          <li><a href="#immutable-fields">Immutable fields</a></li>
          <li><a href="#optional-fields">Optional fields</a></li>
          <li><a href="#mapping-fields">Mapping fields</a></li>
          <li><a href="#casting-values">Casting values</a></li>
        </ul>
      </li>
      <li><a href="#setting-and-getting-values">Setting and getting values</a></li>
      <li><a href="#storing-documents">Storing documents</a></li>
      <li><a href="#fetching-documents">Fetching documents</a></li>
      <li><a href="#helpers">Helpers</a></li>
      <li><a href="#meteor-methods--220">Meteor methods</a></li>
      <li><a href="#events">Events</a></li>
      <li>
        <ul>
          <li><a href="#events-propagation">Events propagation</a></li>
          <li><a href="#preventing-default">Preventing default</a></li>
          <li><a href="#events-list">Events list</a></li>
        </ul>
      </li>
      <li><a href="#indexes">Indexes</a></li>
      <li><a href="#inheritance">Inheritance</a></li>
      <li><a href="#extending-class">Extending class</a></li>
      <li><a href="#validation">Validation</a></li>
      <li>
        <ul>
          <li><a href="#adding-validators">Adding validators</a></li>
          <li><a href="#generating-errors">Generating errors</a></li>
          <li><a href="#validators-list">Validators list</a></li>
          <li><a href="#creating-validators">Creating validators</a></li>
        </ul>
      </li>
      <li><a href="#global-configuration">Global configuration</a></li>
    </ul>
  </li>
  <li><a href="#security">Security</a></li>
  <li>
    <ul>
      <li><a href="#secured-property">Secured property</a></li>
      <li><a href="#trusted-property">Trusted property</a></li>
      <li><a href="#rate-limiting">Rate limiting</a></li>
      <li><a href="#building-with-astronomy">Building with Astronomy</a></li>
    </ul>
  </li>
  <li><a href="#behaviors">Behaviors</a></li>
  <li>
    <ul>
      <li><a href="#timestamp">Timestamp</a></li>
      <li><a href="#slug">Slug</a></li>
      <li><a href="#softremove">Softremove</a></li>
      <li><a href="#community-behaviors">Community behaviors</a></li>
    </ul>
  </li>
  <li><a href="#advanced-usage">Advanced usage</a></li>
  <li>
    <ul>
      <li><a href="#custom-types">Custom types</a></li>
      <li><a href="#writing-behaviors">Writing behaviors</a></li>
      <li><a href="#writing-modules">Writing modules</a></li>
    </ul>
  </li>
</ul>